<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; @Config.CompanyName | Design: <a href="https://www.instagram.com/oleksandr.starodub">Oleksand Starodub</a>
                </div>

            </div>
        </div>
    </div>
</div>